/.idea
/.ipynb_checkpoints
/data
/sandbox
__pycache__
*.zip
*.pt
/output
*.pkl
*.png
*.jpg
maskrcnn_train/runs
/runs
/task_planning/permutandis
/YOLOv8
/yolo_v8_train/pickle_folder
/wandb
/pybullet_code
/surfemb/scripts/dataset_img_detec